<h3>Post View Settings</h3>
<section class='field'>
  <label>Post View Layout</label>
  <div class="controls">
    <select value={{categoryModel.custom_fields.post_view}} onchange={{action "onChangePostView" value="target.value"}}>
      <option value="">Select ....</option>
      <option value="grid" selected={{eq categoryModel.custom_fields.post_view "grid"}}>Grid View</option>
      <option value="list" selected={{eq categoryModel.custom_fields.post_view "list"}}>List View</option>
  </select>
  </div>
</section>

<h3>Tabs View Settings</h3>
<section class='field'>
  <label>
    <input type="checkbox" checked={{categoryModel.custom_fields.tabs_view}} onchange={{action "onChangeTabsView" value="target.checked"}}>
    Enable Tabs View
  </label>
</section>


<h3>Main Post View</h3>
<section class='field'>
  <label>
    <input type="checkbox" checked={{categoryModel.custom_fields.show_main_post}} onchange={{action "onChangeMainPostView" value="target.checked"}}>
    Enable Main Post
  </label>
</section>


<h3>User Permissions</h3>
<section class='field'>
  <label>
    <input type="checkbox" checked={{categoryModel.custom_fields.user_can_create_post}} onchange={{action "onChangeUserCanCreatePost" value="target.checked"}}>
    Users Can Create Posts
  </label>
</section>